<script>
    import { area } from "d3-shape";
    import { scaleLinear, scaleTime } from "d3-scale";
    import { extent, max } from "d3-array";

    
    export let data = [];

    
    let time_scale = 200*(data.length/7/24);
    
    let date = data.map(d => new Date(2014, 11, d.day, d.hour));
    const xScale = scaleTime()
        .domain(extent(date))
        .range([0, time_scale])


    let electricity = data.map(d => d.total_electrity);      
    const yScaleElec = scaleLinear()
        .domain([0, max(electricity)])
        .range([40,0])


    let gas = data.map(d => d.total_gas);
    const yScaleGas = scaleLinear()
        .domain([0, max(gas)])
        .range([40, 80])
        

    const areaElec = area()
        .x(d => xScale(new Date(2014, 11, d.day, d.hour)))
        .y0(yScaleElec(0))
        .y1(d => yScaleElec(d.total_electrity))

    const areaGas = area()
        .x(d => xScale(new Date(2014, 11, d.day, d.hour)))
        .y0(yScaleGas(0))
        .y1(d => yScaleGas(d.total_gas))

</script>

<svg>
        <path d={areaElec(data)} fill="blue"/>
        <path d={areaGas(data)} fill="orange"/>
</svg>
