<script>
    import { area } from "d3-shape";
    import { scaleLinear, scaleTime } from "d3-scale";
    import { extent } from "d3-array";
    
    export let first_type = 1;

    export let type = null;
    function select(type, datafile) {
        return datafile.filter(d => d.buildingtype == type)
    }
    export let dataset = [];
    let data = select(type, dataset);
    $: data = select(type, dataset);

    const yScalewithin = scaleLinear()
        .domain(extent(dataset.map(d => d.total_heating_energy)))
        .range([0, 20]);

   
    const yScaleacross = scaleLinear()
        .domain(extent(data.map(d => d.total_heating_energy)))
        .range([0, 20]);


    const xScale = scaleTime()
        .domain(extent(dataset.map(d => new Date( 2014, 11,d.day,d.hour))))
        .range([0, 400]);

    const Linewithin = area()
            .x(d=>xScale(new Date(2014, 11, d.day, d.hour)))
            .y0(d=>-yScalewithin(d.total_heating_energy))
            .y1(d=>yScalewithin(d.total_heating_energy))

    const Lineacross = area()
            .x(d=>xScale(new Date( 2014, 11,d.day,d.hour)))
            .y0(d=>-yScaleacross(d.total_heating_energy))
            .y1(d=>yScaleacross(d.total_heating_energy))
</script>

<g height="200">
    <g transform="translate(+300,0)" dominant-baseline="central"
    style="font: italic small-caps bold 12px/30px Georgia, serif">
        <text>{type}</text>
    </g>
    <g transform="translate(-100,0)">
        {#if first_type == 1}
            <path d={Linewithin(data)} fill="black"></path>
        {:else}
            <path d={Lineacross(data)} fill="black"></path>
        {/if}
    </g>
</g>






