<script>
    import { radialArea } from "d3-shape";
    import { scaleLinear, scaleRadial } from "d3-scale";
    import { extent } from "d3-array";

    const width = 600;
    const height = 250;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;

    export let data = [];
    export let city;
    data = data.filter(d => d.city == city);


    const xscale = scaleLinear()
        .range([0, 2* Math.PI])
        .domain(extent(data, d => d.day_of_year))

    
    const yscale_heat = scaleRadial()
        .range([0, 70])
        .domain(extent(data, d => d.heating))
    
    const heat = radialArea()
        .angle(d => xscale(d.day_of_year))
        .innerRadius(0)
        .outerRadius(d => yscale_heat(d.heating))


    const yscale_Cool = scaleRadial()
        .range([0, 70])
        .domain(extent(data, d => d.cooling))


    const cool = radialArea()
        .angle(d => xscale(d.day_of_year))
        .innerRadius(0)
        .outerRadius(d => yscale_Cool(d.cooling))


</script>
<svg viewBox="0 0 200 250" style="max-width: 200px">
    <g transform="translate(10, 10)">
        <g transform="translate(0,25)" style="font: italic small-caps bold 12px/30px Georgia, serif">
            <text x="50%" text-anchor="middle">{city} <br/></text>
        </g>
        <g transform="translate(100,125)">
            <circle cx=0 cy=0 r={80} fill="white" fill-opacity=1 stroke="black"/> 
            <line x1=0 y1={-(80)} x2=0 y2={80} stroke="black" stroke-width=1/>
            <line x1={-(80)} y1=0 x2={80} y2=0 stroke="black" stroke-width=1/>
            <path d={cool(data)} fill="blue" stroke="lightblue" fill-opacity=0.6 stroke-opacity=0.3/>
            <path d={heat(data)} fill="red" stroke="lightred" fill-opacity=0.6 stroke-opacity=0.3/>
            <text style="text-anchor: middle; font:italic small-caps bold 12px/30px Georgia, serif" transform="translate(0,{-85})">0</text>
            <text style="text-anchor: middle; font:italic small-caps bold 12px/30px Georgia, serif" transform="translate({85},0)">3</text>
            <text style="text-anchor: middle; font:italic small-caps bold 12px/30px Georgia, serif" transform="translate(0,{90})">6</text>
            <text style="text-anchor: middle; font:italic small-caps bold 12px/30px Georgia, serif" transform="translate({-85},0)">9</text>
        </g>
    </g>
</svg>
