<script>
    export let location = "Baltimore";
    export let types = 1;
    let city = ["Baltimore", "Chicago", "Los Angeles"];
</script>

<div class="row">    
    <div class="row">
        <div class = "col"><b>Location</b></div>
        {#each city as c}
            <label>
                <input type=radio name="location" bind:group={location} value={c}>{c}
            </label>
            <br/>
        {/each}
    </div>
  
    <div class="row">
        <div class = "col"><b>Building Types</b></div>
        <label>
            <input type=radio name="scaling" bind:group={types} value={0}>
            Across all building types
        </label>
        <br/>
        <label>
            <input type=radio name="scaling" bind:group={types} value={1}>
            Within building types
        </label>
        
    </div>
</div>