<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import Select from "./_design_1_select.svelte";
  import Thickness from "./_design_1_line.svelte";

  const width = 600;
  const height = 425;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  let datapoints = null;
  let buildingtypes = null;
  onMount(async () => {
    datapoints = await json("/data/hourly_heating_december.json");
    buildingtypes = [... new Set (datapoints.map(d => d.buildingtype))];
  });

  let dt = null;
  function data_exp(dataset, loc) {
    if (dataset != null) {
      dt = dataset.filter(d => d.city == loc);
     
    }
  }
  

  let first_Location = "Baltimore";
  $: data_exp(datapoints, first_Location); 

  let first_type = 1;
</script>


{#if !datapoints}
  <p>Loading the data, please wait...</p>
{:else}
<div class = "col">
  <div transform="translate(0,150)">
    <div transform="translate(0,50)">
      <Select bind:location={first_Location} bind:types={first_type}/>
    </div>
  </div>
</div>
  <div class ="col">
    <svg {width} {height}>
      <g transform="translate({margin.left}, {margin.top})">
            {#each buildingtypes as type, i}
              <g transform="translate(100,{i*30})">
                  <Thickness dataset={dt} first_type={first_type} type={type}/>
              </g>
            {/each}  
      </g>
    </svg>
  </div>
{/if}

