<script>
 
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Plot from "./_design_2_circular.svelte";


  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  const city1 = {city: "Chicago",};
  const city2 = {city: "Baltimore",};
  const city3 = {city: "Los Angeles",};

  
  let data = null;
  onMount(async () => {
    data = await json("/data/daily_heating_cooling.json");
  });

</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <Plot data={data} {...city1}/>
  <Plot data={data} {...city2}/>
  <Plot data={data} {...city3}/>
{/if}



