<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import Tree from "./_design_3_tree.svelte";

  const width = 600;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  let data = null;
  onMount(async () => {
    data = await json("/data/hourly_electricity_vs_gas_december.json");
  });

</script>
{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
      <line x1=290 y1=10 x2=290 y2=500 style="stroke:black;stroke-width:1"/>
      
      <g transform="translate(280,60) rotate(-20)">
        <Tree data={data.filter(d => d.week == 52)}/>
          <g transform="translate(100,50)">
            <text> week 5 </text>
           </g>
      </g>  
    
      <g transform="translate(300,140) scale(-1,1) rotate(-20)">
        <Tree data={data.filter(d => d.week == 51)}/>
          <g transform="translate(280,50) scale(-1,1)">
            <text> week 4 </text>
           </g>
      </g>
    
      <g transform="translate(280,220) rotate(-20)">
        <Tree data={data.filter(d => d.week == 50)}/>
          <g transform="translate(220,45)">
            <text> week 3 </text>
           </g>
        </g>
   
      <g transform="translate(300,300) scale(-1,1) rotate(-20)">
        <Tree data={data.filter(d => d.week == 49)}/>
          <g transform="translate(300,50) scale(-1,1)">
            <text> week 2 </text>
           </g>
      </g>
  
      <g transform="translate(280,380) rotate(-20)">
        <Tree data={data.filter(d => d.week == 48)}/>
          <g transform="translate(220,50)">
            <text> week 1 </text>
           </g>
      </g>
      
      <text 
        transform="translate({(innerWidth/2)-90},{innerHeight-50})"
        style ='font:italic small-caps bold 35px/30px Georgia, serif'>
          Baltimore
      </text>
      <text 
        transform="translate({(innerWidth/2)-50},{innerHeight-25})"
        style ='font:italic small-caps bold 30px/30px Georgia, serif'>
      (December 2014)
      </text>
    </g>
    
  </svg>
{/if}


