<div>
  <p>The best visual channels ordered by Mackinlay's ranking:</p>
	<ol>
		<li>Position</li>
		<li>Length</li>
		<li>Angle</li>
	</ol>
	<style>
		p{font-style: italic;}
		ol{font-style: italic;}
	</style>
</div>