<div class="container">
    <div class="row">
      <div class="col">
        The first message!
      </div>
      </div>
      <div class="row">
          <div class="col">
        The second message!
      </div>
      </div>
  </div>
  