<script>
    function sphere_circum(r) {
        return Math.PI*r*2;
    }
    let radius= 3;
    let result= sphere_circum(radius).toFixed(2);
    </script>
    <p>
        The cicumference of a circle with radius {radius}m is {result}m
    </p>
    