<script>
import { json } from "d3-fetch";

  import {onMount} from "svelte";

  export let year =0;
  $: text ="start";
  let start = true;
  let interval;
  

  onMount(async () => {
    data = await json("/data/gapminder.json"); 
  });

  function Year() {
    year +=1;
    if (year >= 215) {
      year =0;
    }
  }
  

  function clickButton() {
    if (start==true) {
      start = false;
      text ="stop";
      interval = setInterval(Year,100);
    }
    else {
      start=true;
      text= "start";
      clearInterval(interval);
    }
  }



  function reset() {
    text = "start";
    start = true;
    clearInterval(interval);
    year=0;
  }

  // Properties
  export let data = [];
  const continents = ["europe", "asia", "americas", "africa"];

  export let continent = "all";
  

</script>


<div class="row">
<div class = "row">
  <button class ="btn btn-primary" on:click ={clickButton} > {text} </button>
  <input class ="btn btn-primary" type="button" on:click={reset} value = "reset">
  <p> Year: {1800+year}</p>
  <input type="range" min ="0" max="214" bind:value={year} />
  <div class = "row">
    <select  bind:value={continent}>
      <option value="all">all</option>
      {#each continents as continent}
      <option value={continent}>{continent}</option>
      {/each}
    </select>
  </div>
</div>
</div>
