<script>
	let count = 0;

	function handleClick(event) {
		count += 1;
	}

    function reset(event) {
        count =0;
    }
</script>
Count:{count}
<button type= "click" on:click={handleClick}>
	Click
</button>

<button type= "reset" on:click={reset}>
	Reset
</button>
   




