<script>
  import { csv } from "d3-fetch";
  import { onMount } from "svelte";

  import Scatter from "./_ex_4_scatter.svelte";

  // Load the data
  let data = null;
  onMount(async () => {
    data = await csv("/data/cars-2.csv");
  });

  // Configurations
  const s1 = {
    x: (d) => +d.Horsepower,
    y: (d) => +d.Acceleration,
    xLabel: "Horsepower",
    yLabel: "Acceleration"
  };
  const s2 = {
    x: (d) => +d.Displacement,
    y: (d) => +d.Miles_per_Gallon,
    xLabel: "Displacement",
    yLabel: "Miles per Gallon"
  };
  let selectPoints = [];
  let selectPoints1= [];
  let selectPoints2 = [];
  $: selectPoints = selectPoints1.map((s,i)=> selectPoints2[i]==true && s == true
  );
</script>
  
{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <Scatter bind:selectPoints1 = {selectPoints1} {selectPoints} {data} {...s1} />
  <Scatter bind:selectPoints1 = {selectPoints2} {selectPoints} {data} {...s2} />
{/if}
