
<script>

import { scaleLinear, scaleLog } from 'd3-scale';
import { axisBottom, axisLeft} from 'd3-axis';
import { select } from 'd3-selection';
export let data =[];

  // Dimensions
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  const scaley = scaleLinear().domain([0,90]).range([innerHeight,0]);
  const scalex = scaleLog().domain([0,1000000]).range([0, innerWidth]);
  const radius = scaleLinear().domain([0,1000000]).range([1,100]);
  const axisleft = axisLeft(scaley);
  const axisbottom = axisBottom(scalex);

  const f1 = function() { return axisleft(select("#p1"));};
  const f2 = function() { return axisbottom(select("#p2"));};
</script>

<svg viewBox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform="translate({margin.left}, {margin.top})">
    {#each data as datapoint, i}
      {#if datapoint.income }
      <circle x={scalex(+datapoint.income)} y={scaley(+datapoint.life_exp)} r=5 ></circle>
      {/if}
    {/each} 
  </g>
  <g id="p1" use:f1 transform ="translate({margin.left}, {margin.top})"></g>
  <g id="p2" use:f2 transform ="translate({margin.left}, {margin.top+innerHeight})">
    
  </g>
</svg>

