<script>
  import { scaleLinear, scaleLog } from 'd3-scale';
  import { axisBottom } from 'd3-axis';
  import { select } from 'd3-selection';
// Dimensions
const width = 800;
const height = 100;
const margin = { top: 5, right: 5, bottom: 5, left: 5 };
const innerWidth = width - margin.left - margin.right;
const innerHeight = height - margin.top - margin.bottom;

// Array
const values = [2, 4, 6, 7, 9];
const scale = scaleLog().domain([1,10]).range([1,800]);
function xAxis(ele){
  const xaxis = axisBottom(scale);
  xaxis(select(ele));
  }
</script>

<svg viewBox="0 0 {width} {height}">
<g transform="translate({margin.left},{margin.top})">
  {#each values as value}
  <circle cx={scale(value)} cy=45 r=10 fill="green" />
  {/each}
  <g use:xAxis transform="translate(0,65)">
    <g transform="translate(395,30)">
      <text fill=black>x-label</text>
    </g>
    
  </g>
</g>
</svg>
