<script>
import { scaleLinear, scaleOrdinal } from "d3-scale";
import { schemeDark2 } from "d3-scale-chromatic";


  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];

  const scalex = scaleLinear().domain([1,10]).range([0,800])
  const scaley = scaleLinear().domain([1,4]).range([0,100])
  const scalescolor = scaleOrdinal(schemeDark2).domain(["cat1","cat2","cat3"])
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as value}
    <circle cx={scalex(value.x)} cy={scaley(value.y)} r=10 style={"fill:" + scalescolor(value.category)} class=valueLabel />
    {/each}
  </g>
</svg>

<style>
  
</style>
