<script>
import { axisBottom, axisLeft } from "d3-axis";
import {  scaleLinear } from 'd3-scale';
import { select } from "d3-selection";
import { scaleBand} from "d3-scale";

  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];
  // Scale
  const scaley = scaleLinear().domain([0,5]).range([innerHeight, 0])
  const scalex = scaleBand().domain(["Netflix", "Amazon Prime Video", "Disney+","Hulu","Apple TV","Rakuten"]).range([0,450]).padding(0.1)

  function xAxis(ele){
    const xaxis = axisBottom(scalex);
    xaxis(select(ele));
  }

  function yAxis(ele){
    const yaxis = axisLeft(scaley);
    yaxis(select(ele));
  }


</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left},${margin.top})`}>
    {#each data as value}
    <rect x={scalex(value.service)}
          y={scaley(value.viewers)}
          width = {scalex.bandwidth()}
          height={scaley(0)-scaley(value.viewers)}
          fill=green></rect>
        {/each}
      <g use:xAxis transform ="translate(0,260)"></g>
      <g use:yAxis transform ="translate(0,0)"></g>
  
  </g>
</svg>
