<script>
import { onMount} from 'svelte';
import {json} from 'd3-fetch';
import Scatter from './_ex_7_scatterplot.svelte';

let datapoint = null;
onMount(async () => {
    const data = await json('/data/gapminder.json')
    datapoint = data[0].countries;
    });
</script>
{#if datapoint ==null}
    <p>Loading</p>
{:else}
<Scatter data={datapoint}/>
{/if}





